@mixin title($color) {
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    color: $color;
    position: relative;
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: .5rem;

    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50rem;
        height: 1px;
        background-color: $black;
    }

    @include respond(phone){
        font-size: 3.5rem;
        &::before{
            width: 30rem;
        }


    }
}

@mixin grey-dot{
    content: '';
    height: 1rem;
    width: 1rem;
    background-color: $grey;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all .5s;
}

@mixin respond($breakpoint){
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em){@content}; //600px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em){@content}; //900px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em){@content}; //1200px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em){@content}; //1800px
    }
}