<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Music inspirations</title>
</head>
<body>
  <header class="header">
    <nav class="navigation">
      <a href="#" class="navigation__item">About</a>
      <a href="#" class="navigation__item">Discography</a>
      <a href="#" class="navigation__item">Concert tours</a>
      <a href="#" class="navigation__item">Lates compositions</a>
      <a href="#" class="navigation__item">News tracks</a>
      <a href="#" class="navigation__item">Upcoming events</a>
      <a href="#" class="navigation__item">History</a>
      <a href="#" class="navigation__item">Contacts</a>
    </nav>

    <img src="./assets/img/logo.png" alt="logo" class="header__logo">
  </header>

  <main>
    <section class="discography">
      <h3 class="title center">Discography</h3>
    </section>
  </main>
</body>
</html>
