<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Music inspirations</title>
</head>
<body>
  <header class="header">
    <nav class="navigation">
      <a href="#" class="navigation__item">About</a>
      <a href="#" class="navigation__item">Discography</a>
      <a href="#" class="navigation__item">Concert tours</a>
      <a href="#" class="navigation__item">Lates compositions</a>
      <a href="#" class="navigation__item">News tracks</a>
      <a href="#" class="navigation__item">Upcoming events</a>
      <a href="#" class="navigation__item">History</a>
      <a href="#" class="navigation__item">Contacts</a>
    </nav>

    <img src="./assets/img/logo.png" alt="logo" class="header__logo">
  </header>

  <main>
    <section class="discography">
      <h3 class="title-discography center">Discography</h3>
      <div class="description-container">
        <p class="description center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum suscipit ullam quod ex expedita placeat in aliquid laborum quo, quae iure molestias ipsam repellat perspiciatis magni corrupti consequuntur vero animi.</p>
      </div>

      <div class="container">
        <div class="row margin-bottom-8">
          <div class="song song--left">
            <p class="song__year">2010</p>
            <p class="song__name">Hell and silence</p>
          </div>
          <div class="song song--right">
            <h5 class="song__full-name">Hell and silence is EP by Las Vegas rock group</h5>
            <p class="song__description margin-bottom-2">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quod sed saepe beatae vitae incidunt fugiat temporibus commodi suscipit tenetur ipsa quam cum, aliquam dicta expedita, ad inventore, voluptate blanditiis.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto qui iure aliquam natus dicta, modi et cum nobis repellat ab illum suscipit corrupti commodi minus repellendus eveniet voluptas quibusdam!
            </p>
            <button class="btn btn--s1">Play</button>
          </div>
        </div>

        <div class="row margin-bottom-8">
          <div class="song song--left">
            <p class="song__year">2012</p>
            <p class="song__name">Night visions</p>
          </div>
          <div class="song song--right">
            <h5 class="song__full-name">Night visions is an debut stodio album by American rock band</h5>
            <p class="song__description margin-bottom-2">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quod sed saepe beatae vitae incidunt fugiat temporibus commodi suscipit tenetur ipsa quam cum, aliquam dicta expedita, ad inventore, voluptate blanditiis.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto qui iure aliquam natus dicta, modi et cum nobis repellat ab illum suscipit corrupti commodi minus repellendus eveniet voluptas quibusdam!
            </p>
            <button class="btn btn--s2">Play</button>
          </div>
        </div>

        <div class="row margin-bottom-8">
          <div class="song song--left">
            <p class="song__year">2015</p>
            <p class="song__name">Smoke + mirros</p>
          </div>
          <div class="song song--right">
            <h5 class="song__full-name">The album was recorded during 2014 at the band's home studio in Las Vegas, Nevada</h5>
            <p class="song__description margin-bottom-8">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quod sed saepe beatae vitae incidunt fugiat temporibus commodi suscipit tenetur ipsa quam cum, aliquam dicta expedita, ad inventore, voluptate blanditiis.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto qui iure aliquam natus dicta, modi et cum nobis repellat ab illum suscipit corrupti commodi minus repellendus eveniet voluptas quibusdam!
            </p>
            <button class="btn btn--s3">Play</button>
          </div>
        </div>
      </div>

      <img src="./assets/img/discography-pic.png" alt="pic" class="discography__pic">
    </section>

    <section class="tours">

      <h3 class="title-tours center">Concert tours</h3>
      <div class="description-container">
        <p class="description center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum suscipit ullam quod ex expedita placeat in aliquid laborum quo, quae iure molestias ipsam repellat perspiciatis magni corrupti consequuntur vero animi.</p>
      </div>

      <div class="tours__pic">
        <div class="tours__description">
          <div class="tours__top">
            <p class="song__year">2010</p>
            <p class="song__name">Hell and silence</p>
          </div>
          <div class="tours__bottom">
            <h5 class="song__full-name">2015-present</h5>
            <p class="song__description margin-bottom-2">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quod sed saepe beatae vitae incidunt fugiat temporibus commodi suscipit tenetur ipsa quam cum, aliquam dicta expedita, ad inventore, voluptate blanditiis.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto qui iure aliquam natus dicta, modi et cum nobis repellat ab illum suscipit corrupti commodi minus repellendus eveniet voluptas quibusdam!
            </p>
            <button class="btn btn--transparent">Buy online</button>
          </div>
        </div>
      </div>

    </section>

    <section class="latest">

      <h3 class="title-latest center">Latest compositions</h3>
      <div class="description-container">
        <p class="description center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum suscipit ullam quod ex expedita placeat in aliquid laborum quo, quae iure molestias ipsam repellat perspiciatis magni corrupti consequuntur vero animi.</p>
      </div>

      <div class="container">

        <div class="row margin-bottom-2">
          <div class="latest--left">
            <div class="tours__top">
              <p class="song__year">2010</p>
              <p class="song__name">Hell and silence</p>
            </div>
            <div class="tours__bottom">
              <h5 class="song__full-name">2015-present</h5>
              <p class="song__description margin-bottom-2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quod sed saepe beatae vitae incidunt fugiat temporibus commodi suscipit tenetur ipsa quam cum, aliquam dicta expedita, ad inventore, voluptate blanditiis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto qui iure aliquam natus dicta, modi et cum nobis repellat ab illum suscipit corrupti commodi minus repellendus eveniet voluptas quibusdam!
              </p>
              <button class="btn btn--transparent">Buy online</button>
            </div>
          </div>
          <div class="latest--right">
            <img src="./assets/img/pic-1.png" alt="pic-1" class="latest__pic">
            <audio src=""></audio>
          </div>
        </div>

        <div class="row margin-bottom-2">
          <div class="latest--right">
            <img src="./assets/img/pic-2.png" alt="pic-2" class="latest__pic">
            <audio src=""></audio>
          </div>
          <div class="latest--left">
            <div class="tours__top">
              <p class="song__year">2010</p>
              <p class="song__name">Hell and silence</p>
            </div>
            <div class="tours__bottom">
              <h5 class="song__full-name">2015-present</h5>
              <p class="song__description margin-bottom-2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quod sed saepe beatae vitae incidunt fugiat temporibus commodi suscipit tenetur ipsa quam cum, aliquam dicta expedita, ad inventore, voluptate blanditiis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto qui iure aliquam natus dicta, modi et cum nobis repellat ab illum suscipit corrupti commodi minus repellendus eveniet voluptas quibusdam!
              </p>
              <button class="btn btn--transparent">Buy online</button>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="latest--left">
              <div class="tours__top">
                <p class="song__year">2010</p>
                <p class="song__name">Hell and silence</p>
              </div>
              <div class="tours__bottom">
                <h5 class="song__full-name">2015-present</h5>
                <p class="song__description margin-bottom-2">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quod sed saepe beatae vitae incidunt fugiat temporibus commodi suscipit tenetur ipsa quam cum, aliquam dicta expedita, ad inventore, voluptate blanditiis.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto qui iure aliquam natus dicta, modi et cum nobis repellat ab illum suscipit corrupti commodi minus repellendus eveniet voluptas quibusdam!
                </p>
                <button class="btn btn--transparent">Buy online</button>
              </div>
            </div>
            <div class="latest--right">
              <img src="./assets/img/pic-3.png" alt="pic-3" class="latest__pic">
              <audio src=""></audio>
            </div>
          </div>
      </div>
    </section>
  </main>
</body>
</html>
