<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Music inspirations</title>
</head>
<body>
  <header id="about" class="header">
    <nav class="navigation">
      <a href="#about" class="navigation__item">About</a>
      <a href="#discography" class="navigation__item">Discography</a>
      <a href="#tours" class="navigation__item">Concert tours</a>
      <a href="#compositions" class="navigation__item">Lates compositions</a>
      <a href="#tracks" class="navigation__item">News tracks</a>
      <a href="#events" class="navigation__item">Upcoming events</a>
      <a href="#history" class="navigation__item">History</a>
      <a href="#contacts" class="navigation__item">Contacts</a>
    </nav>

    <img src="./assets/img/logo.png" alt="logo" class="header__logo">
  </header>

  <main>
    <section id="discography" class="discography">
      <h3 class="title-discography center">Discography</h3>
      <div class="description-container">
        <p class="description center">
          September 4 world heard Night Visions, the first full album. He reached the 2 position in the chart Billboard 200. The single "It's Time" took 22 place in the Billboard Hot 100, 4th in the Billboard Alternative and Billboard rock, and now went platinum.
        </p>
      </div>

      <div class="container">
        <div class="row margin-bottom-8">
          <div class="song song--left">
            <p class="song__year">2010</p>
            <p class="song__name">Hell and silence</p>
          </div>
          <div class="song song--right">
            <h5 class="song__full-name">Hell and silence is EP by Las Vegas rock group</h5>
            <p class="song__description margin-bottom-2">
              Hell and Silence is an EP by Las Vegas rock group , released in March 2010 in the United States. It was recorded at Battle Born Studios. All songs were written by Imagine Dragons and self-produced. The EP was in part mixed by Grammy nominated engineer Mark Needham.
To promote the album the band performed five shows at SXSW 2010 including at the BMI Official Showcase.While at SXSW they were endorsed by Blue Microphones. They also toured the western United States with Nico Vega and Saint Motel. They also performed at Bite of Las Vegas Festival 2010, New Noise Music Festival, Neon Reverb Festival, and Fork Fest.
            </p>
            <button class="btn btn--s1">Play</button>
          </div>
        </div>

        <div class="row margin-bottom-8">
          <div class="song song--left">
            <p class="song__year">2012</p>
            <p class="song__name">Night visions</p>
          </div>
          <div class="song song--right">
            <h5 class="song__full-name">Night visions is an debut stodio album by American rock band</h5>
            <p class="song__description margin-bottom-2">
              It was released on September 4, 2012 through Interscope Records. The extended track was released on February 12, 2013, adding three more songs. Recorded between 2010 and 2012, the album was primarily produced by the band themselves, as well as English hip-hop producer Alex da Kid and Brandon Darner from the American indie rock group The Envy Corps. It was mastered by Joe LaPorta. According to frontman Dan Reynolds, the album took three years to finish ...
            </p>
            <button class="btn btn--s2">Play</button>
          </div>
        </div>

        <div class="row margin-bottom-8">
          <div class="song song--left">
            <p class="song__year">2015</p>
            <p class="song__name">Smoke + mirros</p>
          </div>
          <div class="song song--right">
            <h5 class="song__full-name">The album was recorded during 2014 at the band's home studio in Las Vegas, Nevada</h5>
            <p class="song__description margin-bottom-8">
              Self-produced by members of the band along with English hip-hop producer Alexander Grant, known by his moniker Alex da Kid, the album was released by Interscope Records and Grant's KIDinaKORNER label on February 17, 2015, in the United States.
            </p>
            <button class="btn btn--s3">Play</button>
          </div>
        </div>
      </div>

      <img src="./assets/img/discography-pic.png" alt="pic" class="discography__pic">
    </section>

    <section id="tours" class="tours">

      <h3 class="title-tours center">Concert tours</h3>
      <div class="description-container">
        <p class="description center">Before the release of Night Visions, Imagine Dragons made appearances on American radio and television to promote their extended play, Continued Silence and debut single It's Time. The band performed "It's Time" on the July 16, 2012 airing of NBC late-night talk show The Tonight Show with Jay Leno"</p>
      </div>

      <div class="tours__pic">
        <div class="tours__description">
          <div class="tours__top">
            <p class="song__year">03.08.2015</p>
            <p class="song__name">Smoke + mirrors tour</p>
          </div>
          <div class="tours__bottom">
            <h5 class="song__full-name">2015-present</h5>
            <p class="song__description margin-bottom-2">
              At Lollapalooza in Sao Paulo, Brazil, the last date on the Into the Night Tour, the band announced a rest, and complemented saying, "This is our last show for a while, and had no better place to end this tour".[51] The conclusion of the Into the Night Tour signaled the end of the Night Visions album cycle. Lead singer Dan Reynolds joked about the end of the Night Visions cycle, saying that "We're always writing on the road, [so] that second album will come, unless we die.
            </p>
            <button class="btn btn--transparent">Buy online</button>
          </div>
        </div>
      </div>

    </section>

    <section id="compositions" class="latest">

      <h3 class="title-latest center">Latest compositions</h3>
      <div class="description-container">
        <p class="description center">"It's Time" was released as the lead single from Continued Silence and It's Time, both 
          extended plays preceding Night Visions' release.</p>
      </div>

      <div class="container">

        <div class="row margin-bottom-5">
          <div class="latest--colored triangle triangle--right">
            <div class="tours__top">
              <p class="song__year">03.04.2015</p>
              <p class="song__name">Indian sammer</p>
            </div>
            <div class="tours__bottom">
              <h5 class="song__full-name">Sam Feldt ft. Kimberly Anne - Show Me Love (EDX's Indian Summer Remix)</h5>
              <p class="song__description margin-bottom-2">
                "Radioactive" is a song recorded by American rock band Imagine Dragons for their major-label debut EP Continued Silence and later on their debut studio album, Night Visions (2012), as the opening track. "Radioactive" was first sent to modern rock radio
              </p>
              <div class="latest__socials-container">

                <span class="latest__icon-container">
                  <svg class="latest__social-icon">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-sound"/>
                  </svg>
                  <span class="latest__social-count">
                    182,234
                  </span>
                </span>

                <span class="latest__icon-container">
                  <svg class="latest__social-icon">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-heart"/>
                  </svg>
                  <span class="latest__social-count">
                    10k
                  </span>
                </span>

                <span class="latest__icon-container">
                  <svg class="latest__social-icon">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-export"/>
                  </svg>
                  <span class="latest__social-count">
                    3k
                  </span>
                </span>

                <span class="latest__icon-container">
                  <svg class="latest__social-icon">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-chat"/>
                  </svg>
                  <span class="latest__social-count">
                    96
                  </span>   
                </span>
                
              </div>
              <button class="btn btn--transparent">
                Visit on iTunes 
                <svg class="btn__icon">
                  <use xlink:href="./assets/img/symbol-defs.svg#icon-chevron-small-right"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="latest--thumb">
            <img src="./assets/img/pic-1.png" alt="pic-1" class="latest__pic">
            <audio controls>
              <source src="https://freemusicarchive.org/music/download/f395e0bd3d10fa337b48c3946ff5304a8204dd85.mp3" type="audio/mpeg">
            </audio>
          </div>
        </div>

        <div class="row margin-bottom-5">
          <div class="latest--thumb">
            <img src="./assets/img/pic-2.png" alt="pic-2" class="latest__pic">
            <audio controls>
              <source src="https://freemusicarchive.org/music/download/f395e0bd3d10fa337b48c3946ff5304a8204dd85.mp3" type="audio/mpeg">
            </audio>
          </div>
          <div class="latest--colored triangle triangle--left">
            <div class="tours__top">
              <p class="song__year">20.07.2015</p>
              <p class="song__name">Indian summer remix</p>
            </div>
            <div class="tours__bottom">
              <h5 class="song__full-name">Sam Feldt - Show Me Love (EDX's Indian Summer Remix)</h5>
              <p class="song__description margin-bottom-2">
                Amsterdam's Sam Feldt earned attention in Europe and then worldwide for his melodic house remixes, mixtapes, and collaborations including 2014's "Bloesem" with De Hofnar and "Hot Skin" with Kav Verhouzer on... Dutch label Spinnin' 
              </p>
              <div class="latest__socials-container">

                <span class="latest__icon-container">
                  <svg class="latest__social-icon">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-sound"/>
                  </svg>
                  <span class="latest__social-count">
                    182,234
                  </span>
                </span>

                <span class="latest__icon-container">
                  <svg class="latest__social-icon">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-heart"/>
                  </svg>
                  <span class="latest__social-count">
                    10k
                  </span>
                </span>

                <span class="latest__icon-container">
                  <svg class="latest__social-icon">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-export"/>
                  </svg>
                  <span class="latest__social-count">
                    3k
                  </span>
                </span>

                <span class="latest__icon-container">
                  <svg class="latest__social-icon">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-chat"/>
                  </svg>
                  <span class="latest__social-count">
                    96
                  </span>   
                </span>
                
              </div>
              <button class="btn btn--transparent">
                Visit on iTunes 
                <svg class="btn__icon">
                  <use xlink:href="./assets/img/symbol-defs.svg#icon-chevron-small-right"/>
                </svg>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="latest--colored triangle triangle--right">
              <div class="tours__top">
                <p class="song__year">03.04.2015</p>
                <p class="song__name">Chill nation</p>
              </div>
              <div class="tours__bottom">
                <h5 class="song__full-name">James Bay - Let It Go (Bearson Remix)</h5>
                <p class="song__description margin-bottom-2">
                  A soulful singer/songwriter from a small English town with a penchant for crafting moving and evocative folk-pop confections in the vein of Ed Sheeran, Foy Vance, and Ben Howard, James Bay hails from the North Hertf...
                </p>
                <div class="latest__socials-container">

                  <span class="latest__icon-container">
                    <svg class="latest__social-icon">
                      <use xlink:href="./assets/img/symbol-defs.svg#icon-sound"/>
                    </svg>
                    <span class="latest__social-count">
                      182,234
                    </span>
                  </span>
  
                  <span class="latest__icon-container">
                    <svg class="latest__social-icon">
                      <use xlink:href="./assets/img/symbol-defs.svg#icon-heart"/>
                    </svg>
                    <span class="latest__social-count">
                      10k
                    </span>
                  </span>
  
                  <span class="latest__icon-container">
                    <svg class="latest__social-icon">
                      <use xlink:href="./assets/img/symbol-defs.svg#icon-export"/>
                    </svg>
                    <span class="latest__social-count">
                      3k
                    </span>
                  </span>
  
                  <span class="latest__icon-container">
                    <svg class="latest__social-icon">
                      <use xlink:href="./assets/img/symbol-defs.svg#icon-chat"/>
                    </svg>
                    <span class="latest__social-count">
                      96
                    </span>   
                  </span>
                  
                </div>
                <button class="btn btn--transparent">
                  Visit on iTunes 
                  <svg class="btn__icon">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-chevron-small-right"/>
                  </svg>
                </button>
              </div>
            </div>
            <div class="latest--thumb">
              <img src="./assets/img/pic-3.png" alt="pic-3" class="latest__pic">
              <audio controls>
                <source src="https://freemusicarchive.org/music/download/f395e0bd3d10fa337b48c3946ff5304a8204dd85.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
      </div>
    </section>

    <section id="tracks" class="slider">

      <div class="slider__arrow-container slider__arrow-container--left">
        <svg class="slider__arrow-icon slider__arrow-icon--left">
          <use xlink:href="./assets/img/symbol-defs.svg#icon-chevron-small-right"/>
        </svg>
        <div class="slider__arrow slider__arrow--left">
        </div>
      </div>

      <div class="slider__arrow-container slider__arrow-container--right">
        <svg class="slider__arrow-icon slider__arrow-icon--right">
          <use xlink:href="./assets/img/symbol-defs.svg#icon-chevron-small-right"/>
        </svg>
        <div class="slider__arrow slider__arrow--right">
        </div>
      </div>

      <div class="slider__slide slider__active-slide center">
        <p class="slider__slide-title margin-bottom-2">In 2008, lead singer Dan Reynolds met 
          drummer Andrew Tolman at Brigham Young University where they were both students</p>
        <p class="slider__slide-description margin-bottom-5">Tolman recruited longtime high school friend Daniel Wayne "Wing" Sermon, who had graduated from Berklee College of Music. Tolman later recruited his wife, Brittany Tolman, to sing backup and play keys.</p>
        <p class="slider__slide-date">-Early years(2008-10)</p>
      </div>

      <div class="slider__slide center">
        <p class="slider__slide-title margin-bottom-2">In 2008, lead singer Den...</p>
        <p class="slider__slide-description margin-bottom-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quidem nemo cumque magnam qui porro, nesciunt error earum et, dolorum autem minus recusandae facilis placeat omnis iusto molestias, eligendi voluptatem?</p>
        <p class="slider__slide-date">-Early years(2008-11)</p>
      </div>

      <div class="slider__slide center">
        <p class="slider__slide-title margin-bottom-2">In 2008, lead singer Den...</p>
        <p class="slider__slide-description margin-bottom-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quidem nemo cumque magnam qui porro, nesciunt error earum et, dolorum autem minus recusandae facilis placeat omnis iusto molestias, eligendi voluptatem?</p>
        <p class="slider__slide-date">-Early years(2008-12)</p>
      </div>

      <div class="slider__slide center">
        <p class="slider__slide-title margin-bottom-2">In 2008, lead singer Den...</p>
        <p class="slider__slide-description margin-bottom-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quidem nemo cumque magnam qui porro, nesciunt error earum et, dolorum autem minus recusandae facilis placeat omnis iusto molestias, eligendi voluptatem?</p>
        <p class="slider__slide-date">-Early years(2008-13)</p>
      </div>

      <div class="slider__slide center">
        <p class="slider__slide-title margin-bottom-2">In 2008, lead singer Den...</p>
        <p class="slider__slide-description margin-bottom-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quidem nemo cumque magnam qui porro, nesciunt error earum et, dolorum autem minus recusandae facilis placeat omnis iusto molestias, eligendi voluptatem?</p>
        <p class="slider__slide-date">-Early years(2008-14)</p>
      </div>

      <div class="slider__slide center">
        <p class="slider__slide-title margin-bottom-2">In 2008, lead singer Den...</p>
        <p class="slider__slide-description margin-bottom-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quidem nemo cumque magnam qui porro, nesciunt error earum et, dolorum autem minus recusandae facilis placeat omnis iusto molestias, eligendi voluptatem?</p>
        <p class="slider__slide-date">-Early years(2008-15)</p>
      </div>

      <div class="slider__dots-row">
      </div>
    </section>

    <section class="albums">
      <div class="container">
        <div class="row margin-bottom-2">
          <div class="albums__item">
            <div class="tours__top">
              <p class="song__year">2010</p>
              <p class="song__name">Hell and silence</p>
            </div>
            <div class="tours__bottom">
              <h5 class="song__full-name">2015-present</h5>
              <p class="song__description margin-bottom-2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quod sed saepe beatae vitae incidunt fugiat temporibus commodi suscipit tenetur ipsa quam cum, aliquam dicta expedita, ad inventore, voluptate blanditiis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto qui iure aliquam natus dicta, modi et cum nobis repellat ab illum suscipit corrupti commodi minus repellendus eveniet voluptas quibusdam!
              </p>
            </div>
            <img src="./assets/img/album-1.png" alt="pic-1" class="albums__pic">
            <span class="albums__number">01</span>
          </div>

          <div class="albums__item">
            <div class="tours__top">
              <p class="song__year">2010</p>
              <p class="song__name">Hell and silence</p>
            </div>
            <div class="tours__bottom">
              <h5 class="song__full-name">2015-present</h5>
              <p class="song__description margin-bottom-2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quod sed saepe beatae vitae incidunt fugiat temporibus commodi suscipit tenetur ipsa quam cum, aliquam dicta expedita, ad inventore, voluptate blanditiis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto qui iure aliquam natus dicta, modi et cum nobis repellat ab illum suscipit corrupti commodi minus repellendus eveniet voluptas quibusdam!
              </p>
            </div>
            <img src="./assets/img/album-2.png" alt="pic-2" class="albums__pic">
            <span class="albums__number">02</span>
          </div>

          <div class="albums__item">
            <div class="tours__top">
              <p class="song__year">2010</p>
              <p class="song__name">Hell and silence</p>
            </div>
            <div class="tours__bottom">
              <h5 class="song__full-name">2015-present</h5>
              <p class="song__description margin-bottom-2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quod sed saepe beatae vitae incidunt fugiat temporibus commodi suscipit tenetur ipsa quam cum, aliquam dicta expedita, ad inventore, voluptate blanditiis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto qui iure aliquam natus dicta, modi et cum nobis repellat ab illum suscipit corrupti commodi minus repellendus eveniet voluptas quibusdam!
              </p>
            </div>
            <img src="./assets/img/album-3.png" alt="pic-3" class="albums__pic">
            <span class="albums__number">03</span>
          </div>
        </div>

        <div class="row">
          <div class="albums__item">
            <div class="tours__top">
              <p class="song__year">2010</p>
              <p class="song__name">Hell and silence</p>
            </div>
            <div class="tours__bottom">
              <h5 class="song__full-name">2015-present</h5>
              <p class="song__description margin-bottom-2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quod sed saepe beatae vitae incidunt fugiat temporibus commodi suscipit tenetur ipsa quam cum, aliquam dicta expedita, ad inventore, voluptate blanditiis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto qui iure aliquam natus dicta, modi et cum nobis repellat ab illum suscipit corrupti commodi minus repellendus eveniet voluptas quibusdam!
              </p>
            </div>
            <img src="./assets/img/album-4.png" alt="pic-4" class="albums__pic">
            <span class="albums__number">04</span>
          </div>

          <div class="albums__item">
            <div class="tours__top">
              <p class="song__year">2010</p>
              <p class="song__name">Hell and silence</p>
            </div>
            <div class="tours__bottom">
              <h5 class="song__full-name">2015-present</h5>
              <p class="song__description margin-bottom-2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quod sed saepe beatae vitae incidunt fugiat temporibus commodi suscipit tenetur ipsa quam cum, aliquam dicta expedita, ad inventore, voluptate blanditiis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto qui iure aliquam natus dicta, modi et cum nobis repellat ab illum suscipit corrupti commodi minus repellendus eveniet voluptas quibusdam!
              </p>
            </div>
            <img src="./assets/img/album-5.png" alt="pic-5" class="albums__pic">
            <span class="albums__number">05</span>
          </div>

          <div class="albums__item">
            <div class="tours__top">
              <p class="song__year">2010</p>
              <p class="song__name">Hell and silence</p>
            </div>
            <div class="tours__bottom">
              <h5 class="song__full-name">2015-present</h5>
              <p class="song__description margin-bottom-2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quod sed saepe beatae vitae incidunt fugiat temporibus commodi suscipit tenetur ipsa quam cum, aliquam dicta expedita, ad inventore, voluptate blanditiis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor architecto qui iure aliquam natus dicta, modi et cum nobis repellat ab illum suscipit corrupti commodi minus repellendus eveniet voluptas quibusdam!
              </p>
            </div>
            <img src="./assets/img/album-6.png" alt="pic-6" class="albums__pic">
            <span class="albums__number">06</span>
          </div>
        </div>
      </div>
    </section>

    <section id="events" class="upcoming">
      <div class="upcoming__wrap">

        <h3 class="title-upcoming center">Upcoming events</h3>

        <div class="upcoming__event">
          <p class="upcoming__event-title">Smoke + Mirrors Tour</p>
          <p class="upcoming__event-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id obcaecati vitae ratione ad, cum error doloremque voluptates odit deserunt quia reprehenderit. Hic, amet pariatur inventore libero perspiciatis quos modi velit?
          </p>
        </div>

        <span class="line line--short-vertical-line"></span>
        <p class="upcoming__event-date">12.03.2015</p>
        <span class="line line--long-vertical-line"></span>

        <div class="upcoming__event">
          <p class="upcoming__event-title">Smoke + Mirrors Tour</p>
          <p class="upcoming__event-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id obcaecati vitae ratione ad, cum error doloremque voluptates odit deserunt quia reprehenderit. Hic, amet pariatur inventore libero perspiciatis quos modi velit?
          </p>
        </div>

        <span class="line line--short-vertical-line"></span>
        <p class="upcoming__event-date">12.03.2015</p>
      </div>
    </section>

    <section id="history" class="history">
      <h3 class="title-history center">History</h3>
      <div class="description-container">
        <p class="description center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum suscipit ullam quod ex expedita placeat in aliquid laborum quo, quae iure molestias ipsam repellat perspiciatis magni corrupti consequuntur vero animi.</p>
      </div>

      <div class="row wrap fl-center fl-row">
        <div class="history__item">
          <span class="line line--horizontal-grey"></span>
          <p class="history__date">Mar 16 <span class="history__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span></p>
          <span class="line line--horizontal-grey"></span>
        </div>

        <div class="history__item">
          <p class="history__date">Mar 16 <span class="history__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span></p>
          <span class="line line--horizontal-grey"></span>
        </div>

        <div class="history__item">
          <p class="history__date">Mar 16 <span class="history__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span></p>
          <span class="line line--horizontal-grey"></span>
        </div>

        <div class="history__item">
          <p class="history__date">Mar 16 <span class="history__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span></p>
          <span class="line line--horizontal-grey"></span>
        </div>

        <div class="history__item">
          <p class="history__date">Mar 16 <span class="history__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span></p>
          <span class="line line--horizontal-grey"></span>
        </div>
      </div>
    </section>

    <section id="contacts" class="contacts">

      <div class="contacts__wrap">
          <h3 class="title-contacts">Contacts</h3>
          <p class="contacts__description margin-bottom-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

          <div class="row fl-row">
            <form action="submit" class="contacts__form">
              <div class="contacts__input-container">
                  <input id="name" placeholder="Name" type="text" class="contacts__form-input" required>
                  <label for="name" class="contacts__input-label">Name</label>
              </div>

              <div class="contacts__input-container">
                <input id="email" placeholder="E-mail" type="email" class="contacts__form-input" required>
                <label for="email" class="contacts__input-label">E-mail</label>
              </div>
              
              <div class="contacts__input-container">
                <input id="message" placeholder="Message" type="text" class="contacts__form-input" required>
                <label for="mesage" class="contacts__input-label">Message</label>
              </div>
              
              <button class="contacts__form-button">Send</button>
            </form>
    
            <div class="contacts__socials">
              <a href="#">
                <svg class="contacts__social-icon">
                  <use xlink:href="./assets/img/symbol-defs.svg#icon-facebook"/>
                </svg>
              </a>

              <a href="#">
                <svg class="contacts__social-icon">
                  <use xlink:href="./assets/img/symbol-defs.svg#icon-instagram"/>
                </svg>
              </a>

              <a href="#">
                <svg class="contacts__social-icon">
                  <use xlink:href="./assets/img/symbol-defs.svg#icon-twitter"/>
                </svg>
              </a>
            </div>
          </div>
      </div>
      
    </section>
  </main>
</body>
</html>
