.history{
    height: 100vh;
    margin-top: 15rem;
    background-image: url('../img/history.png');
    background-repeat: no-repeat;
    background-size: cover;

    &__item{
        display: flex;
        align-items: center;

        &:first-child{
            margin-left: 3rem;
        }

        &:last-child{
            margin-right: 3rem;
        }
    }

    &__date{
        text-transform: uppercase;
        position: relative;
        color: rgba($grey, .5);
        font-size: 2.5rem;
        margin-right: 3rem;
        margin-left: 3rem;
        transition: all .3s;

        &::before{
            @include grey-dot;

            left: -1em;  
        }

        &::after{
            @include grey-dot;

            right: -2.5rem;
        }

        &:hover{
            margin-right: 4rem;
            margin-left: 4rem;
            color: $grey;

            &::after{
                opacity: 1;
            }

            &::before{
                opacity: 1;
            }      
        }
        
    }

    &__date:hover &__description{
        opacity: 1;
    }

    &__description{
        width: 20rem;
        display: block;
        font-size: 1.4rem;
        text-decoration: none;
        text-transform: none;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: $grey;
        transition: .3s;
        opacity: 0;
    }
}