.latest{
    margin-top: 15rem;
    position: relative;

    &--colored{
        width: 50%;
        background-color: $light-grey-2;
        padding: 4rem;

        @include respond(tab-port){
            width: 100%;
            order: 2;
        }
    }

    &--thumb{
        width: 50%;
        position: relative;

        audio{
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        @include respond(tab-port){
            height: 47.5rem;
            width: 100%;
            order: 1;
        }
    }

    &__pic{
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        object-fit: cover;
    }

    &__socials-container{
        position: absolute;
        bottom: 4.5rem;
        right: 8rem;
        display: flex;
        color: $light-grey;

        @media only screen and (max-width: 29.357em){
            bottom: 0.5rem;
            right: 1rem;
        };
    }

    &__social-icon{
        width: 2rem;
        height: 2rem;
        fill: currentColor;
        margin-right: 1rem;
        transition: all .3s;
        cursor: pointer;

        &:hover{
            fill: $grey;
        }
    }

    &__icon-container{
        display: flex;
        align-items: center;
        &:not(:last-child){
            margin-right: 2rem;
        }
    }
}