.song{
    padding: 1rem;

    &--left{
        width: 45%;
    }

    &--right{
        width: 55%;
    }

    &__year{
        font-size: 1.4rem;
        color: $dark-grey;
        font-weight: bold;
        border-bottom: 1px solid $black;
    }

    &__name{
        font-size: 1.4rem;
        color: $black;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__full-name{
        font-size: 2.8rem;
        color: $black;
        font-weight: 400;
    }

    &__description{
        font-size: 1.4rem;
        color: $light-grey;
    }
    
}