.discography{
    margin-top: 15rem;
    position: relative;

    &__pic{
        z-index: -1;
        display: block;
        position: relative;
        width: 100%;
        margin-top: -35rem;
    }
}

.tours{
    margin-top: 15rem;
    position: relative;

    &__top{
        margin-bottom: 5rem;
        width: 60%;
    }

    &__pic{
        position: relative;
        height: 100vh;
        background-image: url('../img/tours-pic.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__description{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        left: 30%;
    }
}

.latest{
    margin-top: 15rem;
    position: relative;

    &--colored{
        width: 50%;
        background-color: $light-grey-2;
        padding: 4rem;
    }

    &--thumb{
        width: 50%;
        position: relative;

        audio{
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__pic{
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    &__socials-container{
        position: absolute;
        bottom: 4.5rem;
        right: 8rem;
        display: flex;
        color: $light-grey;
    }

    &__social-icon{
        width: 2rem;
        height: 2rem;
        fill: currentColor;
        margin-right: 1rem;
        transition: all .3s;
        cursor: pointer;

        &:hover{
            fill: $grey;
        }
    }

    &__icon-container{
        display: flex;
        align-items: center;
        &:not(:last-child){
            margin-right: 2rem;
        }
    }
}
