.discography{
    margin-top: 15rem;
    position: relative;

    &__pic{
        z-index: -1;
        display: block;
        position: relative;
        width: 100%;
        margin-top: -35rem;
    }
}

.tours{
    margin-top: 15rem;
    position: relative;

    &__top{
        margin-bottom: 5rem;
        width: 60%;
    }

    &__pic{
        position: relative;
        height: 100vh;
        background-image: url('../img/tours-pic.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }

    &__description{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        left: 30%;

        @include respond(phone){
            width: 80%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }
}


